@model OficinaMecanica.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2 style="text-align:center;color:darkblue">Detalhe do Cliente</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
       
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._Endereco.CEP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Endereco.CEP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._Endereco.Rua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Endereco.Rua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._Endereco.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Endereco.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._Endereco.Bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Endereco.Bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._Endereco.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Endereco.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClienteID }) |
    @Html.ActionLink("Back to List", "List")
</p>