@model OficinaMecanica.Models.Servico

@{
    ViewBag.Title = "Details";
}

<h2 style="text-align:center;color:darkblue">Detalhe do Serviços</h2>

<div>
    <h4>Serviços</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ServicoID }) |
    @Html.ActionLink("Voltar para lista", "List")
</p>