@model IEnumerable<OficinaMecanica.Models.Situacao>

@{
    ViewBag.Title = "List";
}

<h2 style="text-align:center;color:darkblue">Lista de Situações</h2>

<p>
    @Html.ActionLink("Nova situação", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.SituacaoID }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.SituacaoID }) |
            @Html.ActionLink("Deletar", "Delete", new { id = item.SituacaoID })
        </td>
    </tr>
    }

</table>

